<li>
	{{burger_name}}

	<button class="btn btn-sm change-ingest" id="change-ingest" data-id="{{id}}" data-newingest="{{ingest}}">
		{{#if ingest}} Move
		{{else}} Move
		{{/if}}
	</button>

	<button class="btn btn-sm delete-burger" data-id="{{this.id}}"> Delete</button>
</li>